// ASPECT-RATIO
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// REMOVE MARGIN FROM LAST COLUMN IN GRID

@mixin resetLastColumn($lastColumn) {
  $lastColumn: $lastColumn + n;
  &:nth-of-type(#{$lastColumn}) {
    margin-right: 0;
  }
}


@mixin safari() {
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) { @content; }
  }
}