// COLOR
$black: #161616;
$white: #fafafa;
$gray: #bbb;

//BORDER
$line: 3px solid $black;
$radius: 20px;

// MARGINS & SPACES
$header-bar-height: 4.5rem;
$outer-margin: 22%;
$space: 80px;
$small-space: 20px;

$navbarHeight: 57px;