// FONT EMBEDDING & TYPO VARIABLES
$body-font: "IndivisibleRegular", Helvetica, Sans-serif;
$headline-font: "IndivisibleMedium", Helvetica, Sans-serif;
$mono-font: "";
$body-font-italic: "";

@font-face {
    font-family: "Big Caslon Regular";
    src: url("/fonts/Big Caslon Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Indivisible";
    src: url("/fonts/IndivisibleWebVariableRoman.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IndivisibleRegular";
    src: url("/fonts/IndivisibleWebRegular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IndivisibleMedium";
    src: url("/fonts/IndivisibleWebMedium.woff2");
    font-weight: normal;
    font-style: normal;
}


