// FONT EMBEDDING & TYPO VARIABLES
$body-font: "IndivisibleRegular", Helvetica, Sans-serif;
$headline-font: "IndivisibleMedium", Helvetica, Sans-serif;
$mono-font: "";
$body-font-italic: "";
/*
@font-face {
    font-family: "";
    src: url("/fonts/");
    font-weight: normal;
    font-style: normal;
}
*/