@mixin textWidth() {
  padding-left: $small-space;
  padding-right: $small-space;

  @include mq($from: tablet) {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
  }

  @include mq($from: wide) {
    padding-left: $outer-margin * 1.3;
    padding-right: $outer-margin * 1.3;
  }
}

@mixin fullWidth() {
  margin: $space;
}